@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');
* {
    margin: 0px;
    padding: 0px;
}

:root {
    --fonte1: 'Playfair Display SC', serif;
    --fonte2: Verdana, Geneva, Tahoma, sans-serif;

}

body {
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
}

header {
    background-color: black;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: red;
    font-family: var(--fonte1);
    font-variant: small-caps;
    font-size: 5em;
}

header p {
    font-family: var(--fonte2);
    color: white;
}

h2 {
    font-family: var(--fonte1);
    font-size: 2em;
    text-indent: 10px;
    margin-bottom: 10px;
    padding: 15px;
    color: red;
    background-image: linear-gradient(to right,  black 20%, transparent 70%);
}

h3 {
    text-align: center;
    background-color: black;
    font-size: 2em;
    padding: 10px;
    font-family: var(--fonte1);
    color: red;
    text-indent: 10px;
}

section {
    padding-top: 8vh;
    padding-bottom: 8vh;
    padding-left: 30px;
    line-height: 2em;
    background-color: rgb(32, 32, 32);
    font-family: var(--fonte2);
    font-size: 1.5em;
}

section.sin {
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 10px 10px 15px rgba(0, 0, 0, 0.418);
}

section.sin p{
    color: white;
    background-color: rgba(0, 0, 0, 0.342);
    padding: 5px;
    margin-right: 10px;
    display: inline-block;
    text-indent: 15px;
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
}

section.atores > img{
    width: 150px;
    display: inline-block;
}

section.atores > p {
    font-size: 0.8em;
    display: inline;
}

.atores {
    display: flex;
    align-items: flex-start;
    justify-content: space-around
}

img.fator {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.39);
    border-radius: 500px;
}

.fator {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

.nator {
    font-weight: bold;
    margin-top: 10px;
}

.nator, .npersona {
    text-align: center;
    color: white;
    margin: -15px;
}

@media (max-width: 1000px) {
    .atores {
        flex-wrap: wrap;
    }

    .atores > div {
        padding: 10px;
    }
}

section#inc {
    background-image: url(../imagens/fundo/inception.jpg);
    background-position: center center;
    background-size: cover;
}

section#int {
    background-image: url(../imagens/fundo/interstellar.jpg);
    background-position: center center;
    background-size: cover;
}

section#god {
    background-image: url(../imagens/fundo/poderoso-chefao.jpg);
    background-position: center center;
    background-size: cover;
}

section#hom {
    background-image: url(../imagens/fundo/homem-aranha.png);
    background-position: center center;
    background-size: cover;
}


footer {
    color: white;
    background-color: black;
    text-align: center;
    padding: 5px;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

footer a:hover {
    text-decoration: underline;
}